<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474911771971-rpud4s1k7fuclap1o6dpcnno2bt0s6fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474911771971-rpud4s1k7fuclap1o6dpcnno2bt0s6fo</string>
	<key>API_KEY</key>
	<string>AIzaSyDXMDDEJPhDG6FYi9NmrAjwdwbAGQigack</string>
	<key>GCM_SENDER_ID</key>
	<string>474911771971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eugenezloba.fitnessvideo</string>
	<key>PROJECT_ID</key>
	<string>videoworkoutplan</string>
	<key>STORAGE_BUCKET</key>
	<string>videoworkoutplan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474911771971:ios:96ad843e92eda635</string>
	<key>DATABASE_URL</key>
	<string>https://videoworkoutplan.firebaseio.com</string>
</dict>
</plist>